<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./logo/favicon.png" />
    <title>maaeem</title>
  </head>
  <body>
    <!-- bagian header -->
    <header>
      <nav class="navbar">
        <div class="logo"><img src="./logo/logo.svg" alt="logo" />maaeem</div>
        <button class="toggle">☰</button>
        <ul>
          <li><a href="/">Home </a></li>
          <li><a href="/">Favorite</a></li>
          <li><a href="/">About Us</a></li>
        </ul>
      </nav>
      <div class="hero">
        <div class="hero__inner">
          <h1 class="hero__title">maaeem</h1>
          <p class="hero__tagline">
            Temukan tanpa ragu tempat kunyah-kunyah enak bersama orang tercinta,
            keluarga, dan teman-teman.
          </p>
          <button class="hero__button">Explore</button>
        </div>
      </div>
    </header>
    <main>
      <section class="menu">
        <header class="header">
          <h1 tabindex="0" class="header__judul">Menu</h1>
          <div class="header__garis">
            <span></span>
            <img src="./logo/logo-red-small.svg" alt="logo" />
            <span></span>
          </div>
          <p class="header__subjudul">Berbagai pilihan menu kunyah-kunyah</p>
        </header>
        <div class="menu__list">
          <div class="menu__list__item">
            <img class="menu__list__item__img" src="images/menu/burger.png" alt="burger" />
            <a class="menu__list__item__link" href="#">Burger</a>
          </div>
          
        </div>
      </section>
      <section class="explorer">
        <header class="header">
          <h2 tabindex="0" class="header__judul">Explore Restaurant</h2>
          <div class="header__garis">
            <span></span>
            <img src="./logo/logo-red-small.svg" alt="logo" />
            <span></span>
          </div>
          <p class="header__subjudul">Tentukan pilihanmu jangan ragu</p>
        </header>
        <div class="restaurant">
          <!-- <div class="items">
            <img
              class="items__img"
              src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04"
              alt="gambar restorant"
            />
            <div class="items__sub">
              <h3 class="items__sub__title"><a href="#">Restaurant Murah Meriah</a></h3>
              <span class="items__sub__bintang"><img src="./logo/bintang.svg" alt="bintang"><img src="./logo/bintang.svg" alt="bintang"><img src="./logo/bintang.svg" alt="bintang"><img src="./logo/bintang.svg" alt="bintang"><img src="./logo/bintang.svg" alt="bintang">(5.0)</span>
              <p class="items__sub__text">
                But I must explain to you how all this mistaken idea of
                denouncing pleasure and praising...
              </p>
            </div>
          </div> -->
       
          
         
                  
    </main>
    <footer><p>Copyright © 2021 - maaeem</p></footer>
  </body>
</html>
