<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./logo/favicon.png" />
    <title>maaeem</title>
  </head>
  <body>
    <!-- bagian header -->
    <header>
      <nav class="navbar">
        <div class="logo"><img src="./logo/logo.svg" alt="logo" />maaeen</div>
        <ul>
          <li><a href="/">Home </a></li>
          <li><a href="/">Favorite</a></li>
          <li><a href="/">About Us</a></li>
        </ul>

        <div class="toggle">☰</div>
      </nav>

      <div class="hero">
        <div class="hero__inner">
          <h1 class="hero__title">
            maaeem
          </h1>
          <p class="hero__tagline">
            Temukan tempat kunyah-kunyah enak bersama orang tercinta, keluarga,
            dan teman-teman.
          </p>
        </div>
      </div>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
