<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./logo/favicon.png">
    <title>maaeem</title>
</head>
<body>
    <!-- bagian header -->
    <header class="header">
        <nav class="navbar">
            <ul>
                <li class="navbar__logo"><a href="/" class="logo"><img src="./logo/logo.svg" alt="logo-maaeem"><span class="navbar__logo__text">maaeem</span></a> </li>
                <li class="navbar__toggle"><img class="bar" src="./logo/bar.svg" alt="bar"></li>
                <li class="navbar__link"><a href="/">Home</a></li>
                <li class="navbar__link"><a href="/Favorite">Favorite</a></li>
                <li class="navbar__link"><a href="/about">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>
