@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

$warna-pertama: #c6302c;
$warna-kedua: #92201d;
$warna-abu: #f3f0f0;
$warna-putih: #ffffff;

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body,
html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-padding-top: 90px;
  scroll-behavior: smooth;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 9999;

  &:focus {
    top: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 64px;
  background-color: $warna-pertama;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 155px;
    font-weight: 500;
    color: $warna-putih;
    font-size: 24px;
  }

  .open {
    transform: translate(0, 0);
    transition: transform 0.3s;
    visibility: visible;
  }
  ul {
    z-index: -9;
    position: absolute;
    top: 64px;
    background-color: $warna-putih;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(-3000px, 0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    visibility: hidden;
    li {
      height: 64px;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 400;
      width: 100%;
      text-align: center;
      border-bottom: 2px solid $warna-abu;
      a {
        margin: 5px;
        color: $warna-kedua;
        padding: 13px;
        width: 100%;
        transition: all 0.3s linear;

        &:hover {
          background-color: $warna-kedua;
          color: $warna-putih;
        }
      }
    }
  }
  .toggle {
    box-sizing: content-box;
    min-height: 44px;
    min-width: 44px;
    transition: all 0.3s linear;
    padding: auto;
    margin: 9px 0;
    color: $warna-putih;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: $warna-pertama;
    &:hover {
      border-radius: 6px;
      cursor: pointer;
      background-color: $warna-kedua;
    }
  }
}

/*
 * Jumbotron
 */

.hero {
  
  margin-top: 63px;
  display: flex;
  align-items: center;
  min-height: 380px;
   width: 100vw ;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 15.1%,
      rgba(0, 0, 0, 0.81) 100%
    ),
    url("./images/heros/hero-image_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    margin: 0 auto;
    max-width: 800px;
  }

  &__title {
    color: $warna-putih;
    font-weight: 800;
    font-size: 36px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__tagline {
    margin: 0 20px;
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  a {
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 16px;
    font-weight: 400;
    color: $warna-putih;
    border-radius: 6px;
    margin-top: 36px;
    background-color: $warna-pertama;
    cursor: pointer;
    padding: 12px;
    width: 100px;
    filter: drop-shadow(0 5px 9px rgba(0, 0, 0, 0.5));

    &:hover {
      background-color: $warna-kedua;
    }
  }
}

.menu__list {
  margin: 24px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    transition: all 0.3s linear;
    position: relative;
    background-color: $warna-abu;
    &__img {
      width: 100%;
    }
    &__link {
      display: inline-block;
      box-sizing: border-box;
      min-width: 44px;
      min-height: 44px;
      padding: 10px 0;
      font-size: medium;
      font-weight: 600;
      color: $warna-kedua;
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      &:hover {
        color: $warna-putih;
      }
    }

    &:hover {
      background-color: $warna-kedua;
      color: $warna-putih;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
      transform: scale(1.1);
      transition: transform 0.8s;
    }
  }
}

.restaurant {
  margin: 24px 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
  .items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    position: relative;

    &__img {
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 15.1%,
        rgba(0, 0, 0, 0.81) 100%
      );
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 220px;

    }

    &__sub {
      margin: 15px;

      .city {
        position: absolute;
        padding: 0 3px;
        margin-top: -100px;
        color: $warna-abu;
        font-size: large;
        font-weight: 700;
        text-shadow:  0px 0px 5px rgb(0, 0, 0);
      }
      &__title {
        a {
          display: inline-block;
          box-sizing: border-box;
          min-width: 44px;
          min-height: 44px;
          padding: 8.5px 0;
          color: $warna-kedua;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
      &__bintang {
        display: flex;
        align-items: center;
      }

      p {
        margin-top: 10px;
        line-height: 1.5em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }

    &:hover {
      transform: scale(1.05);
      transition: transform 0.8s;
      box-shadow: 0 3px 18px rgba(0, 0, 0, 0.233);
    }
  }
}

footer {
  background-color: $warna-pertama;
  margin-top: 64px;
  padding: 1em;
  width: 100%;
  bottom: 0;
  color: $warna-putih;
  text-align: center;
}

/* responsive breakpoint */

@media screen and (min-width: 481px) {
  main {
    margin: 0 20px;
  }

  .menu__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .restaurant {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  main {
    margin: 0 70px;
  }
  .navbar {
    padding: 0 70px;
    justify-content: space-between;
    align-content: space-between;

    ul {
      transform: translate(0, 0);
      width: 300px;
      top: 0;
      position: relative;
      flex-direction: row;
      justify-content: flex-end;
      background-color: $warna-pertama;
      box-shadow: none;
      visibility: visible;

      li {
        margin-left: auto;
        width: 100%;
        border-bottom: 0 solid $warna-abu;

        a {
          padding: 10.5px 0;
          color: $warna-putih;
          width: 100%;

          &:hover {
            border-radius: 6px;
            background-color: $warna-kedua;
          }
        }
      }
    }

    .toggle {
      display: none;
    }
  }

  .menu__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .restaurant {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  main {
    section {
      max-width: 1200px;
    }
  }

  .navbar {
    padding: 0 70px;
  }

  .menu__list {
    grid-template-columns: repeat(8, 1fr);
  }

  .restaurant {
    grid-template-columns: repeat(3, 1fr);
  }
}
