@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

$warna-utama: #c6302c;
$warna-gray: #f9f9f9;
$warna-putih: #ffffff;

html {
  min-width: 360px;
}

.navbar {
  position: sticky;
  padding: 8px 20px;
  display: flex;
  background-color: $warna-utama;

  ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    background-color: $warna-utama;
    color: $warna-putih;
  }

  &__logo {
    margin-right: auto;
    a {
      display: flex;
      align-items: center;
      min-height: 44px;
      min-width: 44px;
      font-size: 24px;
      color: white;
      font-weight: 600;
    }
    &__text {
      margin-left: 5px;
      padding: 5px 0;
    }
  }

  &__toggle {
    display: none;
    cursor: pointer;
  }

  &__link {
    margin-right: 24px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 44px;
      min-width: 44px;
      font-size: 16px;
      font-weight: 500;
      color: #ffffff;
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    ul {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__toggle {
      display: flex;
      display: flex;
      align-items: center;
    }
  }

  .navbar__link {
    display: none;
    width: 100%;
    a {
      width: 100%;
      text-align: center;
    }
  }

  .active {
    display: block;
  }
}
